! vim: ft=xdefaults : foldmethod=marker
! File:		.Xresources
! Author:	Mohamed Sobh
! ------------------------------------------------------------------------------


!---- DPI Dependant ------------------------------------------------------------
#if DPI > 150
	#define term_font	monospace:size=14
	#define term_font_alt	Symbols Nerd Font:size=14
	#define display_font	systemui:size=14
	#define font_size	14
#else
	#define term_font	monospace:size=10
	#define term_font_alt	Symbols Nerd Font:size=10
	#define display_font	systemui:size=10
	#define font_size	10
#endif

#define font_name	monospace
!---- Color Scheme -------------------------------------------------------------
#include ".config/xresources/colors/sobh.Xresources"

!---- Fonts -----------------------------------------------------------------{{{
! DPI must be set in .xinit
Xft.dpi:	DPI
Xft.autohint:	0
Xft.lcdfilter:	lcddefault
Xft.hintstyle:	hintfull
Xft.hinting:	1
Xft.antialias:	1
Xft.rgba:	rgb
!---- Fonts }}}

!---- Cursor ----------------------------------------------------------------{{{
Xcursor.theme: Adwaita
Xcursor.size: 32
!---- Cursor }}}

!---- Applications ----------------------------------------------------------{{{
!-------- i3 ------------------------{{{
i3.font:	UI_FONT
i3.status.cmd:	I3_STATUS_CMD
!--- i3 }}}

!-------- st ------------------------{{{
/* St*termname:	st-256color */
st*alpha:	term_opacity
st*font:	term_font
st*fontalt0:	term_font_alt

st*cursorColor:	term_cursorcolor
st*background:	term_background
st*foreground:	term_foreground

st*color0:	term_color00
st*color1:	term_color01
st*color2:	term_color02
st*color3:	term_color03
st*color4:	term_color04
st*color5:	term_color05
st*color6:	term_color06
st*color7:	term_color07
st*color8:	term_color08
st*color9:	term_color09
st*color10:	term_color10
st*color11:	term_color11
st*color12:	term_color12
st*color13:	term_color13
st*color14:	term_color14
st*color15:	term_color15
!--- st }}}

!-------- VT100 ---------------------{{{
! This applys to XTerm, and UXTerm as well

*.vt100.TermName:       xterm-256color
*.vt100.FaceName:       font_name
*.vt100.FaceSize:       font_size
*.vt100.scrollBar:      false

*.vt100.CursorColor:    term_cursorcolor
*.vt100.Background:     term_background
*.vt100.Foreground:     term_foreground

*.vt100.color0:         term_color00
*.vt100.color1:         term_color01
*.vt100.color2:         term_color02
*.vt100.color3:         term_color03
*.vt100.color4:         term_color04
*.vt100.color5:         term_color05
*.vt100.color6:         term_color06
*.vt100.color7:         term_color07

*.vt100.color8:         term_color08
*.vt100.color9:         term_color09
*.vt100.color10:        term_color10
*.vt100.color11:        term_color11
*.vt100.color12:        term_color12
*.vt100.color13:        term_color13
*.vt100.color14:        term_color14
*.vt100.color15:        term_color15

!---- VT100 }}}

!-------- sxiv ----------------------{{{
Sxiv*font:	display_font
Sxiv*background:	black
Sxiv*foreground:	white
!-------- sxiv }}}

!---- Applications }}}

