! vim: ft=xdefaults : foldmethod=marker
! File:		.Xresources
! Author:	Mohamed Sobh
! ------------------------------------------------------------------------------


!---- DPI Dependant ------------------------------------------------------------
#if DPI > 150
	#define term_font	monospace:size=14
	#define term_font_alt	Symbols Nerd Font:size=14
	#define display_font	systemui:size=14
	#define font_size	14
#else
	#define term_font	monospace:size=10
	#define term_font_alt	Symbols Nerd Font:size=10
	#define display_font	systemui:size=10
	#define font_size	10
#endif

#define font_name	monospace
!---- Color Scheme -------------------------------------------------------------
#include ".config/xresources/colors/sobh.Xresources"

!---- Fonts -----------------------------------------------------------------{{{
! DPI must be set in .xinit
Xft.dpi:	DPI
Xft.autohint:	0
Xft.lcdfilter:	lcddefault
Xft.hintstyle:	hintfull
Xft.hinting:	1
Xft.antialias:	1
Xft.rgba:	rgb
!---- Fonts }}}

!---- Cursor ----------------------------------------------------------------{{{
Xcursor.theme: Adwaita
Xcursor.size: 32
!---- Cursor }}}

!---- Applications ----------------------------------------------------------{{{
!-------- i3 ------------------------{{{
i3.font:	UI_FONT
i3.status.cmd:	I3_STATUS_CMD
!--- i3 }}}

!-------- st ------------------------{{{
/* St*termname:	st-256color */
st*alpha:	term_opacity
st*font:	term_font
st*fontalt0:	term_font_alt

st*cursorColor:	term_cursorcolor
st*background:	term_background
st*foreground:	term_foreground

st*color0:	term_color00
st*color1:	term_color01
st*color2:	term_color02
st*color3:	term_color03
st*color4:	term_color04
st*color5:	term_color05
st*color6:	term_color06
st*color7:	term_color07
st*color8:	term_color08
st*color9:	term_color09
st*color10:	term_color10
st*color11:	term_color11
st*color12:	term_color12
st*color13:	term_color13
st*color14:	term_color14
st*color15:	term_color15
!--- st }}}

!-------- XTerm ---------------------{{{
XTerm*TermName:	xterm-256color
XTerm*FaceName:	font_name
XTerm*FaceSize: font_size
XTerm*scrollBar:    false

XTerm*CursorColor:	term_cursorcolor
XTerm*Background:	term_background
XTerm*Foreground:	term_foreground

XTerm*color0:	term_color00
XTerm*color1:	term_color01
XTerm*color2:	term_color02
XTerm*color3:	term_color03
XTerm*color4:	term_color04
XTerm*color5:	term_color05
XTerm*color6:	term_color06
XTerm*color7:	term_color07

XTerm*color8:	term_color08
XTerm*color9:	term_color09
XTerm*color10:	term_color10
XTerm*color11:	term_color11
XTerm*color12:	term_color12
XTerm*color13:	term_color13
XTerm*color14:	term_color14
XTerm*color15:	term_color15

!---- XTerm }}}

!-------- sxiv ----------------------{{{
Sxiv*font:	display_font
Sxiv*background:	black
Sxiv*foreground:	white
!-------- sxiv }}}

!---- Applications }}}

